body {
  font: 10px sans-serif;
  margin: 0;
}

path.line {
  fill: none;
  stroke: #000099;
  stroke-width: 3px;
}

path.area {
  fill: #AFf3f7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: 0.5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

